body {
  font-style: normal;
  margin: 0;
  padding: 0;
  font-family: 'calder-lc', sans-serif;
  background-color: #f9f5e7;
}

img {
  width: 100%;
  margin: -1em 0 1em 0;
}

#container {
  margin: 2em;
}

.embed-container { 
  position: relative; 
  margin: 0 0 1.5em 0;
  padding-bottom: 50%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
  height: auto; 
}
.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

a {
  color: #c045ff;
  text-decoration: none;
}

#heading {
  color: #ff002f;
  width: 100%;
  text-align: center;
}

#tagline {
  font-family: 'calder-dark', sans-serif;
  font-size: 0.85em;
}

#title {
  font-family: 'calder-dark-outline', sans-serif;
  font-size: 3em;
  font-weight: 500;
}

h2 {
  margin: 0 0 0.5em 0;
  font-family: 'calder-lc', sans-serif;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
}

#learnmore-content p {
  margin: 0 0 2.5em 0;
}

#getlauren-thankyou {
  margin-bottom: 2.5em;
}




#content {
  margin-top: 1em;
  color: black;
  overflow: scroll;
  height: 78%;
  font-size: 1.2em;
  line-height: 1.8em;
  font-family: 'Frank Ruhl Libre';
}



#getlauren-thankyou {
  line-height: 1.8;
}

.button {
  cursor: pointer;
  font-family: 'calder-dark', sans-serif;
  color: #ff002f;
  display: block;
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#getlauren, #learnmore {
  margin-top: -0.25em;
  color: #c045ff;
}


#getlauren-content p {
  margin: 0 0 0 0;
}


input, textarea {
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 2px solid black !important;
  outline: 0 !important;
  margin: 0 !important;
  background: none;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 -0.25em !important;
  font-size: 1em;
  font-family: 'Frank Ruhl Libre';
  color: #c045ff;
}

textarea {
  font-size: 1em;
  border: 0 !important;
  background: white;
  height: 7em;
  margin-top: 1em !important;
}

@keyframes flickerAnimation { /* flame pulses */
  40%   { opacity:1; }
  50%  { opacity:0; }
  60% { opacity:1; }
}
.animate-flicker {
  opacity:1;  
  animation: flickerAnimation 4s infinite;
}

