body {
  font-style: normal;
  padding: 2em 3em 3em 3em;
  font-family: 'calder-lc', sans-serif;
  background-color: #f9f5e7;
}

#container {
  max-width: 1000px;
  margin: 0 auto;
}

#intro {
  margin-bottom: 1.5em;
}

table th {
  border: 5px solid transparent;
}

.full {
  width: 100%;
}

.fixed {
  max-width: 100%;
}


table th:first-child {
   border-left: 0;
}

table th:last-child {
   border-right: 0;
}

a {
  color: #c045ff;
  text-decoration: none;
}

section {
  clear: both;
  margin-bottom: 2em;
}

#heading {
  color: #ff002f;
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
}

#tagline {
  font-family: 'calder-dark', sans-serif;
  font-size: 0.85em;
}

#title {
  font-family: 'calder-dark-outline', sans-serif;
  font-size: 3em;
  font-weight: 500;
  color: #ff002f;
}

#summary {
  display: inline-block;
  width: 72%;
  margin-top: 0.5em;
}

#box {
  border: 1px solid #c045ff;
  display: inline-block;
  text-align: center;
  float: right;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 1.5em;
}

#box .inner {
  margin: 1em 1.5em 1.5em 1.5em;
}

#tickets {
  background: #c045ff;
  color: white;
  margin-top: 0.5em;
}

#tickets:hover {
  color: #c045ff;
  background: white;
}

h2 {
  margin: 0 0 0.5em 0;
  font-family: 'calder-lc', sans-serif;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-text-stroke-width: 1px;
}

#learnmore-content p {
  margin: 0 0 2.5em 0;
}



#content {
  margin-top: 1em;
  color: black;
  overflow: scroll;
  height: 78%;
  line-height: 1.8em;
  font-size: 1.2em;
  font-family: 'Frank Ruhl Libre';

/*  font-size: 1.1em;
  font-family: 'calder-lc', sans-serif;*/
}



.button {
  cursor: pointer;
  font-family: 'calder-dark', sans-serif;
  color: #ff002f;
  display: block;
  font-size: 2em;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#getlauren, #learnmore {
  margin-top: -0.25em;
  color: #c045ff;
}


#getlauren-content p {
  margin: 0 0 0 0;
}

@media(max-width: 1068px) {
  #summary {
    width: 65%;
  }
}

@media (max-width: 880px) {

  #label {
    display: inline-block !important;
  }

  #box {
    float: left;
    width: 100%;
  }

  #tickets {

    width: 100%;
  }

  #summary {
    width: 100%;
    margin-top: 0em;
  } 

  #room1 {
    display: none;
  }

  #room2 {
    display: block !important;
  }
}

